.relative {
    position: relative;
}

.blog-list .post-title {
    padding-top: 37px;
}

.blog-paging .overlay{
    background: rgba(0,20,107,.8);
}


.blog-details .feature-img span {
    position: relative!important;
}

.blog-details .feature-img span img{
    position: relative !important;
    width: auto !important;
    height: auto !important;
}

.cr-btn-default {
    display: inline-block;
    height: 60px;
    line-height: 62px;
    padding: 0px 50px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 50px;
    font-weight: 700;
    color: #00b4ff;
    font-family: Circular Std Bold;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.svg-btn-effect {
    position: relative;
    display: inline-block;
}
.svg-btn-effect svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.svg-btn-effect svg rect {
    fill: none;
    stroke: #00b4ff;
    stroke-dasharray: 353,0;
    stroke-width: 2px;
    stroke-dashoffset: 0;
    transition: all 1s ease;
}
.svg-btn-effect:hover svg rect {
    stroke-dasharray: 154,537;
    stroke-dashoffset: 420;
}
.error-404 .backtohome-btn:hover svg rect {
    stroke-dasharray: 124,559;
}

@media (max-width: 991px) {
    .blog .blog-list p,
    .archive .blog-list p,
    .single .blog-list p,
    .single .blog-details p {
        font-size: 18px;
        line-height: 30px; 
    }

    .blog-list {
        padding-bottom: 54px; 
    }
    .blog-list .post-wrapper {
        margin-left: 0;
        display: block; 
    } 
    .blog-list .single-post {
        margin-left: 0;
        width: 100%;
        text-align: center; 
    }
    .blog-list .post-title {
        padding-top: 25px; 
    }
    .blog-list .post-title .category {
        margin-bottom: 15px; 
    } 
    .blog-list .post-title .category a {
        font-size: 14px; 
    }
}

@media (max-width: 575px) {
    .blog .blog-list h1,
    .archive .blog-list h1,
    .single .blog-list h1,
    .single .blog-details h1 {
        font-size: 24px;
        line-height: 32px; 
    }

    .blog-list {
        padding-bottom: 0; 
    } 

    .post-pagination .current,
    .post-pagination .page-numbers {
        padding: 0 10px;
    }
    .post-pagination .next span,
    .post-pagination .prev span {
        width: 40px; 
    }
}